Options +FollowSymlinks
RewriteEngine On
RewriteBase /seguimiento/view/app/

Options All -Indexes
ErrorDocument 404 /seguimiento/error/404.html
ErrorDocument 403 /seguimiento/error/404.html

#si carpeta existe a la carpeta
RewriteCond %{SCRIPT_FILENAME} !-d
#si archivo existe al archivo
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?alumno=$1 [L]
#/?sec=curso&cat=wordpress
#/curso/wordpress
# RewriteRule ^(.*)/(.*)$ index.php?sec=$1&$cat=$2 [L]