@import url('https://fonts.googleapis.com/css?family=Barlow:400');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300');
*{

}
tr{
    font-size: 12px;
}
table td{
    border:1px solid rgba(153, 153, 153, 0.37);
}
.readonly{
    background-color: rgba(1, 148, 203, 0.22);
    cursor: pointer;
}
.bg-azul{
    background-color: #2b58cf;
    color: white;
}
.bg-azul:hover{
    color: white;
    background-color: #2b68cf;
}
.bg-azul:focus{
    color: white;
    background-color: #2b68cf;
}
h1,h2,h3,h4,h5{
    font-family: 'Exo 2', sans-serif;
}
.tabla-hover tr:hover{
    background: rgba(233,251,38,0.2);
    transition-duration: 0.12s;
}
input[type="text"]{
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #999;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
}
input[type="date"]{
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #999;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
}
input[type="email"]{
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #999;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
}
.combo{
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #999;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
}

